{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./styles/globals.css",
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindAttributes": ["className", "tw"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
